ipykernel==6.15.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
jupyter-client==7.3.1
jupyter-core==4.10.0
jupyter-declarativewidgets==0.7.0
jupyter-server==1.18.1
jupyterlab-pygments==0.2.2
jupyterlab-server==2.15.0
jupyterlab-widgets==1.1.1
notebook==6.4.12
pipenv==2022.5.2
voila==0.3.5
